* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;

    background: #800020;

    min-height: 100vh;

    display: flex;
    justify-content: center;

    padding-top: 50px;
}

h1 {
    position: absolute;

    top: 20px;

    color: white;

    font-size: 40px;
}

.container {

    width: 530px;

    margin-top: 80px;

    text-align: center;
}

label {
    display: block;

    background: white;

    padding: 18px;

    margin-top: 20px;

    border-radius: 30px;

    font-size: 20px;

    font-weight: bold;
}

select,
input {

    width: 100%;

    padding: 18px;

    margin-top: 10px;

    border: none;

    border-radius: 25px;

    font-size: 18px;

    text-align: center;
}

button {

    margin-top: 25px;

    padding: 16px 40px;

    border: none;

    border-radius: 30px;

    background: white;

    color: #800020;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;
}

button:hover {

    transform: scale(1.03);
}

#result {

    margin-top: 30px;

    padding: 25px;

    background: white;

    border-radius: 30px;

    font-size: 18px;
}
